# How it works - Python Crash Course

* Author: Cleiber Garcia
* Version's date: March, 2023

* Pourpose: Review my skills in Python 

* This Notebook was produced as part of my studies of the course 'Python for Data Science and Machine Learning Bootcamp', taught by Mr Jose Portilla, Head of Data Science at Pierian Training. The course is offered ad Udemy (https://www.udemy.com/course/python-for-data-science-and-machine-learning-bootcamp/learn/lecture/5784218?start=15#overview). 

* Although the degree of similarity between this notebook and the notebook written by Jose Portillo for this course is almost 100%, I assure you that I wrote it line by line. Also, I took the liberty to make some changes in order to clariry some examples or to make code more readable, when I judged it apropriate.

* For more information, please contact me at cleiber.garcia@gmail.com

This notebook will just go through the basic topics in order:
* 1. Variable assignment
* 2. Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* 3. Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods

## 1.  Variable Assignment

In [3]:
# Can not start with number or special characters
name_of_var = 2
print(name_of_var)

2

In [5]:
# Declare a variable x and set it to 2
x = 2
x

2

In [7]:
# Declare a variable name and set it to 'Paul'
name = 'Paul'
name

'Paul'

In [8]:
# Declare a variable price and set it to 5.78
price = 5.78
price

5.78

## 2. Data types

### Numbers

In [9]:
# Add 1 to 1
1 + 1

2

In [10]:
# Multiply 1 by 3
1 * 3

3

In [11]:
# Divide 1 by 2
1 / 2

0.5

In [12]:
# Raise 2 to exponent 4
2 ** 4

16

In [13]:
# Calculating the remainder of 4 by 2
4 % 2

0

In [76]:
# Calculating the remainder of 5 by 2
5 % 2

1

In [78]:
# Raising 5.8 to power 3
5.8 ** 3

195.112

In [79]:
# Calculating the remainder of 9.3 by 3
9.3 % 3

0.3000000000000007

### Strings

In [19]:
# Using single quotes to define a string
'single quotes'

'single quotes'

In [83]:
# Using double quotes to define a string
"Double 'quotes"

"Double 'quotes"

In [81]:
# Mixing double and single quotes
"Joan O'Conell"

"Joan O'Conell"

### Printing

In [84]:
# Declare a variable x and set it to the string 'hello'
x = 'hello'

In [23]:
x

'hello'

In [85]:
# Prints the content of the variable x
print(x)

hello

In [86]:
# Declare two variables, num and name, and set 
# them to 12 and 'Sam', respectively
num = 12
name = 'Sam'

In [87]:
# Using f-Strings (formatted strings)
print(f'My number is: {num}, and my name is: {name}')

My number is: 12, and my name is: Sam

In [88]:
# Using formatted strings
print('My number is: {num}, and my name is: {name}'.format(num=num,name=name))

My number is: 12, and my name is: Sam

In [90]:
# Using formatted strings
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Lists

In [1]:
# Creates a list with numbers 1, 2 and 3
[1,2,3]

[1, 2, 3]

In [2]:
# Creates a list with the string 'hi', with the number 1 
# and with the list [1,2]
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [5]:
# Declares a variable my_list and set it 
# with the values 'a', 'b' and 'c'
my_list = ['a','b','c']

In [6]:
# Appends the string 'd' to the list my_list
my_list.append('d')

In [7]:
# Shows the content of my_list
my_list

['a', 'b', 'c', 'd']

In [8]:
# Prints the item at first position in my_list
print(my_list[0])

a

In [9]:
# Prints the item at first position in my_list
my_list[0]

'a'

In [10]:
# Assigns string '8' to first position in my_list
my_list[0] = '8' # list allows assignment

In [11]:
# Prints the item at first position in my_list
my_list[0]

'8'

In [13]:
# Prints the item at second position in my_list
my_list[1]

'b'

In [15]:
# Prints the items of my_list, starting at 
# second position to the end of the list
my_list[1:]

['b', 'c', 'd']

In [17]:
# Print the itemns of my_list, starting at first position
# and ending at third position
my_list[:3]

['8', 'b', 'c']

In [20]:
# Creates a list nest, with integer numbers and 
# nested lists
nest = [1,2,3,[4,5,['target']]]

In [30]:
# prints the list nest
print('list nest: ', nest)
print('first item of list nest: ', nest[0])
print('second item of list nest: ', nest[1])
print('third item of list nest: ', nest[2])
print('fourth item of list nest: ', nest[3])

list nest:  [1, 2, 3, [4, 5, ['target']]]
first item of list nest:  1
second item of list nest:  2
third item of list nest:  3
fourth item of list nest:  [4, 5, ['target']]

In [38]:
# Prints the item 'target' of the list nest
nest[3][2][0]

'target'

### Dictionaries

In [40]:
# Creates a dictionary d, with the pair key:values
d = {'key1':'item1','key2':'item2'}

In [41]:
# Prints the content of dictionary d
d

{'key1': 'item1', 'key2': 'item2'}

In [42]:
# Prints the value related to key1
d['key1']

'item1'

### Booleans

In [43]:
# Prints the boolean constant for truth
True

True

In [44]:
# Prints the boolean constant for falsity
False

False

### Tuples

In [45]:
# Creates the tuple t, with the values 1, 2 and 3
t = (1,2,3)

In [46]:
# Prints the first element of tuple t
t[0]

1

In [47]:
# The assignment below will raise an error, since 
# tuple does not support item assigment
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

### Sets

In [59]:
# Creates the set A, with the elements 1, 2 and 3
A = {1, 2, 3}
A

{1, 2, 3}

In [62]:
# Creates the set A, with the elements 1, 2 and 3
A = {1, 2, 3, 3, 2, 1, 1, 2, 3}
A

{1, 2, 3}

In [63]:
# Creates the set B, with the elements 2, 3 and 4
B = {2, 3, 4}
B

{2, 3, 4}

In [51]:
# A minus B: the set of elements of A that does not pertain to B
A - B

{1}

In [64]:
# B minus A: the set of elements of B that does not pertain to A
B - A

{4}

In [54]:
# Creates a set with all elements that belong to A, to B ot to both A and B
A.union(B)

{1, 2, 3, 4}

In [58]:
# Creates a set with elements that belong both to A and B only
A.intersection(B)

{2, 3}

## Comparison Operators

In [87]:
# Print the truth value of 1 greater than 2
1 > 2

False

In [88]:
# Print the truth value of 1 greater than 2
1 < 2

True

In [89]:
# Print the truth value of 1 equals or greater than 2
1 >= 1

True

In [90]:
# Print the truth value of 1 equals or less than 4
1 <= 4

True

In [91]:
# Print the truth value of 1 equals 1
1 == 1

True

In [106]:
# Print the truth value of 'BYE' equals 'bye'
'BYE' == 'bye'

False

## Logic Operators

In [96]:
# Prints the truth value of A and B, A beeing (1 > 2) and B beein (2 < 3)
(1 > 2) and (2 < 3)

False

In [100]:
# Prints the truth value of A and B, A beeing (1 > 2) and B beein (2 < 3)
(1 > 2) & (2 < 3) # the ampersand character stands for 'and'

False

In [101]:
# Prints the truth value of A or B, A beeing (1 > 2) and B beein (2 < 3)
(1 > 2) or (2 < 3)

True

In [102]:
# Prints the truth value of A or B, A beeing (1 > 2) and B beein (2 < 3)
(1 > 2) | (2 < 3) # the vertical bar character stands for 'or'

True

In [104]:
# Prints the truth value of (1 equals 2) or (2 equals 3) or (4 equals 4)
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

In [100]:
# If 1 less than 2, print 'Yep!'
if 1 < 2:
    print('Yep!')

Yep!

In [101]:
#if 1 less than 2, prints 'first', print 'last' otherwise
if 1 < 2:
    print('first')
else:
    print('last')

first

In [102]:
#if 1 is greater than 2, prints 'first', print 'last' otherwise
if 1 > 2:
    print('first')
else:
    print('last')

last

In [103]:
# Case 1 equals 2, prints 'first'
# Case 3 equals 3, prints 'middle'
# Case another value, prints 'Last'
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

## for Loops

In [15]:
seq = [1,2,3,4,5]

In [16]:
# Print the content of list seq (numbers from 1 to 5, inclusive)
for item in seq:
    print(item)

1
2
3
4
5

In [97]:
# Print the square of the list seq
print('seq: ', seq)
print('Square of seq:')
for item in seq:
    print(f'{item}**2 = ', item**2)

seq:  [1, 2, 3, 4, 5]
Square of seq:
1**2 =  1
2**2 =  4
3**2 =  9
4**2 =  16
5**2 =  25

In [98]:
# Print the parity of the numbers of the list seq
for x in seq:
    if (x % 2) == 0:
        print(f'{x} is a even number')
    else:
        print(f'{x} is a odd number')

1 is a odd number
2 is a even number
3 is a odd number
4 is a even number
5 is a odd number

## while Loops

In [99]:
# Print the integer numbers from 1 to 4, inclusive
i = 1
while i < 5:
    print(f'i is: {i}')
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [25]:
# Prints the numbers in the range 0 to 4, inclusive
for i in range(5):
    print(i)

0
1
2
3
4

In [71]:
# Creates a list with the numbers in the range 0 to 4, inclusive
my_list = list(range(5))

In [73]:
# Iterate my_list, printing its content
for item in my_list:
    print(item)

0
1
2
3
4

In [74]:
# Printing the integer numbers from 0 to 4, incluseIterate my_list, printing its content
for i in range(5):
    print(my_list[i])

0
1
2
3
4

## list comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list (W3Schools)

In [27]:
# Creates a list x with numbers 1,2,3 and 4
x = [1,2,3,4]

In [75]:
# Creates a list out with items 
# from x multiplied by themselves
out = []
for item in x:
    out.append(item**2)
print(out)

[1, 4, 9, 16]

In [29]:
# Same result as above with using list comprehension
[item**2 for item in x]

[1, 4, 9, 16]

## functions

In [72]:
# Defining  function my_func with parameter param1
# In case no argument is passed during function call,
# param1 will value 'default'
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [75]:
# Invoke function my_func passing 'new param' as argument
my_func('new param')

new param

In [77]:
# Defining a function square. This function returns the 
# square of the number received as argument
def square(x):
    return x**2

In [78]:
# Declare a variable out and set it with the square of 2
out = square(2)

In [79]:
# Print the variable out
print(out)

4

## lambda expressions

In [50]:
# Creates a list
my_list = ['john','paul','kelly', 'divina']

# Create a new list from my_list, with names capitalized

list(map(lambda x: x.upper(), my_list))

['JOHN', 'PAUL', 'KELLY', 'DIVINA']

## map and filter

In [41]:
# Receive a number and returns it multiplied by 2
def times2(number):
    return number*2

In [42]:
# Define a list
seq = [1,2,3,4,5]

In [44]:
# Creates a mapping from the list seq to 
# another list (this last list mulplied by 2)
list(map(times2,seq))

[2, 4, 6, 8, 10]

In [49]:
# Same result as above, but this time 
# using lambda function
list(map(lambda var: var*2,seq))

[2, 4, 6, 8, 10]

In [ ]:
# from list seq, create another one
# with even numbers from the list seq

In [48]:
list(filter(lambda item: item%2 == 0,seq))

[2, 4]

## methods

In [111]:
# Creates a string
st = 'hello my name is Sam'

In [112]:
# Lower each word of the string st
st.lower()

'hello my name is sam'

In [113]:
# Capitalize each word of the string st
st.upper()

'HELLO MY NAME IS SAM'

In [103]:
# Split each word of the string st 
# and create a list with them
st.split()

['hello', 'my', 'name', 'is', 'Sam']

In [52]:
# Creates a string tweet
tweet = 'Go Sports! #Sports'

In [53]:
# Splits the string tweet by the character "#"
tweet.split('#')

['Go Sports! ', 'Sports']

In [55]:
# Prints the 'Go Sports! ' from the string tweet
tweet.split('#')[0]

'Go Sports! '

In [60]:
# Prints the word sports from the string tweet
tweet.split('#')[1]

'Sports'

In [62]:
# Creates a dictionary
dict = {'key1':'item1','key2':'item2'}

In [64]:
dict.keys()

dict_keys(['key1', 'key2'])

In [65]:
dict.items()

dict_items([('key1', 'item1'), ('key2', 'item2')])

In [66]:
# Creates a list lst
lst = [1,2,3]

In [96]:
# Extracts the item with the most high index
lst.pop()

3

In [67]:
# Shows the content of lst
lst

[1, 2, 3]

In [109]:
# Tests if 'x' is in the list [1,2,3]
'x' in [1,2,3]

False

In [68]:
# Tests if 'x' is in the list [1,2,3]
'x' in ['x','y','z']

True